main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  max-width: 1250px;
  margin: 40px auto;
  padding: 0 20px;
}

.recipe-list{
  grid-column: 1/13;
}


.blog {
  grid-column: 1/10;
}

h2,
h3,
p {
  margin: 0 0 5px 0;
}

article {
  overflow: hidden;
  margin: 0 0 60px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 60px);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  transition: 0.25s;
}

article:hover {
  box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.25);
}

div.text {
  grid-column: 1/8;
  padding: 25px;
}

.text h3 {
  font-size: 1.15em;
  color: #fa163f;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text h2 {
  color: #183f82;
  font-size: 1.75em;
  font-weight: 400;
  letter-spacing: 0.5px;
}

p.post {
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
  line-height: 1.75;
  color: gray;
}

div.thumbnail {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 8/13;
  grid-row: 1/7;
}

#instant-pot {
  background-image: url('/assets/instant-pot.jpg');
}

#popeyes {
  background-image: url('/assets/copycat-popeyes.jpg');
}

#biscuit {
  background-image: url('/assets/pinebiscuit.jpg');
}

#blueapron {
  background-image: url('/assets/blueapron.jpg');
  background-size: center;
}

#slappycakes {
  background-image: url('/assets/slappycakes.jpg');
}

#voodoo {
  background-image: url('/assets/voodoo.jpg');
}

#airfryer {
  background-image: url('/assets/airfryer.jpg');
}
