@media only screen and (max-width: 1080px) {
    main {
      display: block;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .card {
      display: flex;
      flex-direction: column-reverse;
    }

    div.sidebar{
        margin:20px 0 10px 0;
    }
  
    div.thumbnail {
      height: 200px;
    }
  }
  