@import url("https://use.typekit.net/opk1kme.css");
@import url("../css/sidebar.css");
@import url("../css/post.css");
@import url("../css/navbar.css");
@import url("../css/media.css");
@import url("../css/article.css");


body {
  background: whitessmoke;
  padding: 0;
  margin: 0;
}

footer{
    text-align:center;
}

div.social ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding:0;
  margin:25px 0 10px 0;
}

div.social ul li a img {
  width: 20px;
  opacity: 50%;

}

div.social ul li a img:hover {
  opacity: 70%;
}

.writing{
    grid-column: 1/7;
}

.me{
    grid-column: 8/13;
}

.me img{
    width:100%;
}

h2,
h3,
h4,
h5,
h6,
a,
p,
figcaption,
li,
label,
button {
  font-family: azo-sans-web, sans-serif;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: coquette, sans-serif;
  font-weight: 700;
  font-size: 5.25em;
  color: #fa163f;
  text-align: center;
}

h4 {
  font-size: 1.05em;
  color: #fa163f;
  margin: 0 0 8px 0;
}

h5 {
  font-size: 0.9em;
  font-weight: 200;
  font-style: italic;
  margin: 5px 0 10px 0;
}

figcaption{
    font-size: 0.9em;
    font-style: italic;
    font-weight:500;
    color:gray;
    margin: 5px 0 25px 0;
}
